Abreviation {
    background-color: rgb(50,200,220);
    font-weight: bold;
    color: #fff;
}

Titre {
    font-size: 30px;
    font-weight: bold;
}

Professeur {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    margin: 10px;
    width: 42%;
    float: left;
}


Nom {
    text-transform: uppercase;
}

Prenom {
    
}
Email { 
    color: blue; 
}
Login {
    font-family: Courier, monospace;
}
Objectifs { 
    margin: 10px;
    clear: both;
}
Objectif { 
    display: list-item;
    list-style: disc outside;
    padding-left: 4px;
}
Contenus {
    margin-top: 10px;
}
Contenu {
    margin-top: 5px;
    color: #777;
}
Commentaires {}
Links {}
Link {}
Text {}
Url {}
