Abreviation {
    background-color: #333;
    font-weight: bold;
    color: #fff;
}

Titre {
    font-size: 30px;
    font-weight: bold;
}

Professeur {
    border: 2px solid black;
    margin-top: 10px;
}

Nom {
    text-transform: uppercase;
}

Prenom {
    
}
Email { 
    color: blue; 
}
Login {
    font-family: Courier, monospace;
}
Objectifs { 
    margin-top: 10px
}
Objectif { 
    display: list-item;
    list-style: disc outside;
    padding-left: 4px;
}
Contenus {
    margin-top: 10px;
}
Contenu {
    margin-top: 5px;
    color: #777;
}
Commentaires {}
Links {}
Link {}
Text {}
Url {}
