Abreviation {
    background-color: #eee;
    font-weight: bold;
}

Titre {
    font-size: 30px;
    font-weight: bold;
}

Professeur {
    background-color: #ffffaa;
}

Nom {
    text-transform: uppercase;
}

Prenom {}
E-Mail {}
Login {}
Objectifs {}
Objectif {}
Contenus {}
Contenu {}
Commentaires {}
Links {}
Link {}
Text {}
Url {}
